/* Starter template adopted from CS290 Final Project Submission, style changed considerably */

/*   ----- Imports  -----  */
  /* Add fonts from the app's server 
    @font-face {                
      font-family: 'FontName';
      src: url('FontName.woff2') format('woff2');
    } 
    ...or hosted services like Google Fonts 
    @import url(//fonts.googleapis.com/css?family=Font+Name);
  */

@font-face {
    font-family: 'Jurassic Park', cursive;
    src: url(/jurassic-parks-and-recreation/fonts/JurassicPark-BL48.ttf);
}

  /* ^--- Could use above approach to get legit JP font for the final product */

@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Inline+One&family=Bungee&family=Bungee+Hairline&family=Bungee+Inline&family=Bungee+Outline&family=Libre+Barcode+39+Text&family=Overpass+Mono&family=Tourney&family=Zen+Dots&display=swap');  

/*  Color Scheme  */
:root {
    /* Colors */
    --concreteDark: #A2ABA4;
    --concreteLight: #D7DFD9;
    --parkYellow: #F9FF4E;
    --parkRed: #FC1F1F;
    --worldLightBlue: #AFE9EE;
    --worldLightBlueClear: #afe9ee47;
    --worldMedBlue: #61b4fc;
    --worldMedBlueClear: #61b4fce6;
    --worldMedBlueClearBackup: #61b4fc9a;
    --worldDeepBlue: #0F284F;
    --worldDeepBlueClear: #0f284fec;
    --worldDeepBlueClearLight: #0f284faf;
    --dominionAmberBright: rgb(251, 151, 0);
    --dominionAmberBrightClear: rgba(251, 151, 0, 0.713);
    --dominionAmberMed: rgb(206, 123, 0);
    --dominionAmberMedClear: rgba(206, 124, 0, 0.707);
    --dominionAmberDark: rgb(135, 81, 0);
    --dominionAmberDarkClear: rgba(135, 81, 0, 0.691);
    --dominionEarth: rgb(69, 41, 0);;
    --feralGreen: #3c663e;
    --feralGreenClear: #3c663eb9;

    /* Fonts */
    --jpFont: 'Jurassic Park', cursive;
    --normalText: 'Overpass Mono', monospace;}

  /* Basics */
  body {
    background-size:cover;
    background-color: var(--concreteLight);
    background-attachment: fixed;
    background-position: center;
    background-image:url(images/facility-enclosure-gates-night.jpg);
    color: var(--worldDeepBlue);
    /* color: black; */
    /* color: greenyellow; */
    /* color: yellow; */
    font-family: var(--normalText);
    max-width: 85%;
    margin: auto;
    padding: 1%;
  }
  
  header {
    background-color: black;
    color: white;
    /* background-color: whitesmoke;
    color: black; */
    /* background-color: var(--dominionAmberBright);
    color: black; */
    padding-left: 1.5%;
    padding-right: 1%;
    padding-bottom: 1px;
    display: block;
}

  main {
    background-color: var(--worldMedBlueClear);
    /* background-color: var(--dominionAmberMedClear); */
    /* background-color: var(--feralGreenClear); */

    padding-bottom: 1%;
  }

  article {
    margin-left: 2%;
    margin-right: 2%;
    overflow: auto;}

  footer {
    background-color: var(--worldDeepBlue);
    color: var(--worldLightBlue);
    /* background-color: var(--dominionAmberBright);
    color: black; */
    font-family: var(--normalText);
    padding: 1%;}  

  /* Nav Elements */
  nav {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0%;
}

  nav a {
    background-color: var(--worldDeepBlue);
    color: var(--worldLightBlue);
    border: solid var(--worldDeepBlue);
    /* background-color: var(--dominionAmberDark);
    color: black;
    border: solid var(--dominionAmberDark); */
    /* background-color: var(--feralGreen);
    color: yellow;
    border: solid var(--feralGreen); */
    padding-left: 1%;
    padding-right: 1%;
    font-size: 35px;
    font-weight: normal;
    text-decoration: none;
    display:flex;
    justify-content: center;
    flex-grow: 1;
    line-height: 1.00;
    font-family: var(--jpFont);
    margin: 0%;
}

  nav a:hover {       
    background-color: black;
    color: white;
    border: solid gold;
    text-decoration: none;
}
    
  nav a:focus {
    background-color: black;
    color: white;
    border: solid gold;
    outline: none;
  }
  
  
  /* Paragraphs and Headers */
  p {
    overflow-wrap: break-word;
  }
  
  h1 {
    font-size: 85px;
    display: inline;
    margin-bottom: 0px;
    padding-bottom: 0px;
    font-family: var(--jpFont);
    font-weight: normal;
  }
  h2 {
    margin-top: auto;
    margin-bottom: 0;
    margin-left: 1%;
    padding-top: 1%;
    font-family: var(--jpFont);
    font-size: 60px;
    font-weight: normal;
}
  h3 {
    font-size: 140%; 
    font-weight: bold;
    line-height: 0.10;
    margin-bottom: 0;
}
  h4 {}
  h5 {}
  h6 {}

  /* Tables */
  table {
    background-color: var(--worldDeepBlueClearLight);
    color: var(--worldLightBlue);
    width: 100%;
    text-align: center;
    border: 2px solid var(--worldDeepBlue);
    border-collapse: collapse;
  }

  th {
    border: 2px solid var(--worldDeepBlue);
    background-color: var(--worldMedBlueClear);
    font-weight: bold;
  }

  tr {

  }

  td {
    border: 2px solid var(--worldDeepBlue);
    padding: 10px;
  }

  /* Buttons and Forms */
  button {
    color: var(--worldLightBlue);
    background-color: var(--worldDeepBlue);
    border-radius: 5px;
    font-family: var(--jpFont);
    font-size:xx-large;
  }

  button:hover {
    background-color: black;
    color: white;
    border-color: gold;
  }

  button:focus {
    background-color: black;
    color: white;
    border-color: gold;
  }

  select {
    background-color: var(--worldDeepBlue);
    color: var(--worldLightBlue);
  }

    /* select {
    background-color: var(--worldLightBlue);
    color: var(--worldDeepBlue);
  } */

  label {
    font-weight: bold;
  }

  fieldset {
    border-color: #0F284F;
  }

  legend {
    font-weight: bold;
    font-size: large;
  }

  form {
    /* flex:content; */
  }

  input {
    color: var(--worldLightBlue);
    background-color: var(--worldDeepBlue);
    /* width: 90%; */
  }

  textarea {
    color: var(--worldLightBlue);
    background-color: var(--worldDeepBlue);
    /* width: 90%; */
  }

  ::placeholder {
    color: var(--worldMedBlueClear);
  }


/* Custom Elements */
.headerP {
    margin-top: -2%;
    margin-bottom: 5px;
    padding-top: 0px;
    font-family: var(--normalText);
    font-size: 180%;
}

  /* Stuff down here also copy/pasted from CS290 */
  
  /*   ===== TABLET  media query overrides mobile styles ===== */
  @media all and (min-width: 600px) {}
  
  /*   ===== DESKTOP  media query overrides mobile and tablet styles ===== */
  @media all and (min-width: 1080px) {}