/* Fonts */

/* Font-face code style/syntax based on "How to use @font-face in CSS" by Chris Coyler's
URL: https://css-tricks.com/snippets/css/using-font-face-in-css/ */
@font-face {
    font-family: 'Jurassic Park';
    src: url('fonts/JurassicPark-BL48.ttf') format('truetype');
}

@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Inline+One&family=Bungee&family=Bungee+Hairline&family=Bungee+Inline&family=Bungee+Outline&family=Libre+Barcode+39+Text&family=Overpass+Mono&family=Tourney&family=Zen+Dots&display=swap');

/*  Color Scheme  */
:root {
    /* Colors */
    --concreteDark: #A2ABA4;
    --concreteLight: #D7DFD9;
    --parkYellow: rgb(255, 208, 0);
    --parkYellowGreenPale: rgba(236, 255, 172, 0.907);
    --parkRed:  rgb(135, 8, 8);
    --worldLightBlue: #AFE9EE;
    --worldLightBlueClear: #afe9ee47;
    --worldMedBlue: #61b4fc;
    --worldMedBlueClear: #61b4fce6;
    --worldMedBlueClearBackup: #61b4fc9a;
    --worldDeepBlue: #0F284F;
    --worldDeepBlueClear: #0f284fec;
    --worldDeepBlueClearLight: #0f284faf;
    --dominionAmberBright: rgb(251, 151, 0);
    --dominionAmberBrightClear: rgba(251, 151, 0, 0.713);
    --dominionAmberMed: rgb(206, 123, 0);
    --dominionAmberMedClear: rgba(206, 124, 0, 0.707);
    --dominionAmberDark: rgb(135, 81, 0);
    --dominionAmberDarkClear: rgba(135, 81, 0, 0.691);
    --dominionEarth: rgb(69, 41, 0);;
    --feralGreen: #2a4a2b;
    --feralGreenClear: #3c663edf;

    /* Fonts */
    --jpFont: 'Jurassic Park', sans-serif;
    --normalText: 'Overpass Mono', monospace;}

  /* Basics */
  body {
    background-size:cover;
    background-color: var(--concreteLight);
    background-attachment: fixed;
    background-position: center;
    background-image:url(images/facility-enclosure-gates-night.jpg);
    color: var(--worldDeepBlue);
    /* color: black; */
    /* color: greenyellow; */
    color: rgb(255, 208, 0);
    font-family: var(--normalText);
    max-width: 90%;
    margin: auto;
  }
  
  header {
    background-color: black;
    color: white;
    /* background-color: whitesmoke;
    color: black; */
    /* background-color: var(--dominionAmberBright);
    color: black; */
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 1px;
}


  footer {
    /* background-color: var(--worldDeepBlue);
    color: var(--worldLightBlue); */
    background-color: var(--parkRed);
    color: var(--parkYellow);
    /* background-color: var(--dominionAmberBright);
    color: black; */
    font-family: var(--normalText);
    padding: 10px;
    margin-bottom: 50px;
  }  


  main {
    background-color: var(--worldMedBlueClear);
    /* background-color: var(--dominionAmberMedClear); */
    background-color: var(--feralGreenClear);

    padding-bottom: 1%;
  }

  article {
    margin-left: 2%;
    margin-right: 2%;
    overflow: auto;}

  /* Nav Elements */
  nav {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0%;
}

  nav a {
    background-color: var(--worldDeepBlue);
    color: var(--worldLightBlue);
    border: solid var(--worldDeepBlue);
    /* background-color: var(--dominionAmberDark);
    color: black;
    border: solid var(--dominionAmberDark); */
    background-color: rgb(135, 8, 8);
    color: var(--parkYellow);
    border: solid rgb(135, 8, 8);
    padding-left: 1%;
    padding-right: 1%;
    font-size: 35px;
    font-weight: normal;
    text-decoration: none;
    display:flex;
    justify-content: center;
    flex-grow: 1;
    line-height: 1.00;
    font-family: var(--jpFont);
    margin: 0%;
}

  nav a:hover {       
    background-color: black;
    color: white;
    border: solid gold;
    text-decoration: none;
}
    
  nav a:focus {
    background-color: black;
    color: white;
    border: solid gold;
    outline: none;
  }
  
  
  /* Paragraphs and Headers */
  p {
    overflow-wrap: break-word;
  }
  
  h1 {
    font-size: 85px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    font-family: var(--jpFont);
    font-weight: normal;
  }
  h2 {
    margin-top: auto;
    margin-bottom: 0;
    margin-left: 1%;
    padding-top: 1%;
    font-family: var(--jpFont);
    font-size: 60px;
    font-weight: normal;
}
  h3 {
    font-size: 140%; 
    font-weight: bold;
    line-height: 0.10;
    margin-bottom: 0;
}
  h4 {}
  h5 {}
  h6 {}

  /* Tables */
  table {
    /* background-color: var(--worldDeepBlueClearLight);
    color: var(--worldLightBlue);
    border: 2px solid var(--worldDeepBlue); */
    background-color: rgba(0, 0, 0, 0.678);
    color: var(--parkYellow);
    border: 2px solid var(--parkYellow);
    border-collapse: collapse;
    width: 100%;
    text-align: center;
  }

    

  th {
    /* border: 2px solid var(--worldDeepBlue);
    background-color: var(--worldMedBlueClear); */
    /* border: 2px solid var(--parkYellow); */
    background-color: var(--parkRed);
    font-weight: bold;
  }

  tr {

  }

  td {
    /* border: 2px solid var(--worldDeepBlue); */
    border: 2px solid var(--parkYellow);
    padding: 10px;
  }

  /* Buttons and Forms */
  button {
    /* color: var(--worldLightBlue);
    background-color: var(--worldDeepBlue); */
    color: var(--parkYellow);
    background-color: var(--parkRed);
    border-color: var(--feralGreen);
    border-radius: 5px;
    font-family: var(--jpFont);
    font-size:xx-large;
  }

  button:hover {
    background-color: black;
    color: white;
    border-color: gold;
  }
  
  button:focus {
    background-color: black;
    color: white;
    border: solid gold;
    outline: none;
  }

  label {
    font-weight: bold;
  }

  fieldset {
    border-color: var(--parkYellow);
  }

  legend {
    font-weight: bold;
    font-size: large;
  }

  form {
    /* flex:content; */
  }

  input {
    color: var(--feralGreen);
    background-color: var(--parkYellowGreenPale);
    margin-top: 5px;
    /* width: 90%; */
  }

  input:invalid {
    outline: solid var(--parkRed);
  }

  input:valid {
    outline: solid var(--feralGreen);
  }

  input:focus {
    outline: solid var(--parkYellow);
  }

  textarea {
    /* color: var(--worldLightBlue);
    background-color: var(--worldDeepBlue); */
    margin-top: 5px;
    color: var(--feralGreen);
    background-color: var(--parkYellowGreenPale);
    /* width: 90%; */
  }

  textarea:invalid {
    outline: solid var(--parkRed);
  }

  textarea:valid {
    outline: solid var(--feralGreen);
  }

  textarea:focus {
    outline: solid var(--parkYellow);
  }

  select {
    /* background-color: var(--worldLightBlue);
    color: var(--worldDeepBlue); */
    margin-top: 5px;
    color: var(--feralGreen);
    background-color: var(--parkYellowGreenPale);
  }

  select:invalid {
    outline: solid var(--parkRed);
  }

  select:valid {
    outline: solid var(--feralGreen);
  }

  select:focus {
    outline: solid var(--parkYellow);
  }

  ::placeholder {
    color: var(--dominionAmberMed);
  }

  img {
    border: solid 2px var(--feralGreen);
  }


/* Custom Elements */

.headerP {
    margin-top: -20px;
    margin-bottom: 5px;
    padding-top: 0px;
    font-family: var(--normalText);
    font-size: 180%;
}